.navbar-bar {
    position: sticky;
    top: -1px;
    width: calc(100vw - 20px);
    background-color: #2b9b44;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 12px;
    z-index: 99;
}

.navbar-open-img {
    display: none;
    filter: invert(100%);
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 50px;
    width: max-content;
    outline: 2px solid black;
    border-radius: 10px;
    z-index: 101;
}

.opened {
    height: calc(100vh - 130px);
}

@media (max-width: 768px) {
    .navbar-bar {
        display: none !important;
    }
    .navbar-open-img {
        display: block;
    }
}

.navbar-mobile {
    position: fixed;
    align-items: end;
    top: 0;
    left: 100vw;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: calc(100vw - 10px);
    padding: 10px;
    gap: 10px;
    transition: translate 300ms;
    background-color: #2b9b44;
    z-index: 100;
}
